<% index = "index.html" %>
<ul class="nav navbar-nav">

	<li class="<%= ScmsHelpers.isActive('index', page.name) %>" >
		<a href="~/<%= index %>"><span class="glyphicon glyphicon-home"></span> Home</a>
	</li>

	<li class="<%= ScmsHelpers.isActive('behavioural-consultations', page.name) %>">
		<a href="~/behavioural-consultations/<%= index %>" class="dropdown-toggle" data-toggle="dropdown">Consultations <b class="caret hidden-xs"></b></a>
		<ul class="dropdown-menu hidden-xs">
          	<li><a href="~/behavioural-consultations-dog-on-dog-aggression/<%= index %>">Dog-on-Dog Aggression</a></li>
          	<li><a href="~/behavioural-consultations-dog-on-person-aggression/<%= index %>">Dog-on-Person Aggression</a></li>
		</ul>
	</li>

	<li class="<%= ScmsHelpers.isActive('courses', page.name) %>">
		<a href="~/courses/<%= index %>" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret hidden-xs"></b></a>
		<ul class="dropdown-menu hidden-xs">
			<li><a href="~/course-puppy/<%= index %>">Puppy Socialisation</a></li>
			<li class="divider"></li>
			<li><a href="~/course-junior/<%= index %>">Junior Course</a></li>
          	<li><a href="~/course-bronze/<%= index %>">Bronze Obedience</a></li>
          	<li><a href="~/course-silver/<%= index %>">Silver Obedience</a></li>
          	<li><a href="~/course-gold/<%= index %>">Gold Obedience</a></li>
          	<li><a href="~/course-platinum/<%= index %>">Platinum Obedience</a></li>
          	<li class="divider"></li>
          	<li><a href="~/one-to-one/<%= index %>">One to One</a></li>
		</ul>
	</li>

	<li class="<%= ScmsHelpers.isActive('about', page.name) %>">
		<a href="~/about-philosophy/<%= index %>" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret hidden-xs"></b></a>
		<ul class="dropdown-menu hidden-xs">
          	<li><a href="~/about-facilities/<%= index %>">Facilities</a></li>
          	<li><a href="~/about-gaynor-probert/<%= index %>">Gaynor Probert</a></li>
          	<li><a href="~/about-sara-thomas/<%= index %>">Sara Thomas</a></li>
		</ul>
	</li>

	<li><a href="~/find-us/<%= index %>"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
	
</ul>

<script>
$(function(){
	$(".dropdown-toggle")
	.on("mouseover", function(){
		$(this).dropdown('toggle');
	})
	.on("click", function(){
		document.location.href = $(this).attr("href");
	});
});
</script>