<!DOCTYPE html>
<html lang="en">
  <head>
    <%= Scms.renderView("_layouts/includes/header.erb", page) %>
  </head>
  <body>
    <%= Scms.renderView("_layouts/includes/navbar.erb", page) %>

    <div class="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <div class="fill video-section" style="background-image: url('<%= page.resource["image"]%>'); z-index: -99;">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 <%= page.resource["captionclass"]%>">
                    <div class="caption" style="<%= page.resource["captionstyle"]%>">
                      <%= page.views["intro"] %>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  <div class="container">
      <%= Scms.renderView("_layouts/includes/main.erb", page) %>
      <%= Scms.renderView("_layouts/includes/scripts.erb", page) %>
    </div>
  </body>
</html>
